@import "_media";

@font-face{
    src: url(../fonts/LemonMilkbold.otf);
    font-family: "Lemon Milkbold";
}

@font-face{
    src: url(../fonts/PeaceSans.ttf);
    font-family: "Peace Sans";
}

@font-face{
    src: url(../fonts/OpenSansExtrabold.ttf);
    font-family: "Open Sans - Extrabold";
}


 .b-body{
     &_position{
         position: relative;
     }
 }
 .b-header{
     width: 100%;
     max-width: 1600px;
     margin: 0 auto;
     &_position{
         position: relative;
         z-index: 100;
     }
     &__logo{
         &_margin{
             margin-top: 35px;
         }
         @include castMedia(501px, 700px){
             &{
                 flex: 0 0 30%;
                 max-width: 30%;
             }
         }
         @include castMedia(0, 501px){
             &{
                 flex: 0 0 100%;
                 max-width: 100%;
                 &_margin{
                     margin: 10px 20px;
                 }
             }
         }
     }
     &__conteiner{
         @include castMedia(501px, 700px){
             &{
                 flex: 0 0 70%;
                 max-width: 70%;
             }
         }
         @include castMedia(0, 501px){
             &{
                 flex: 0 0 100%;
                 max-width: 100%;
                 &_margin{
                     margin: 10px 20px;
                 }
             }
         }
     }
     &__logoText{
         color: #ffffff;
         font-family: "Lato - Black", sans-serif;
         font-size: 43px;
         &_margin{
             margin-left: 65px;
         }
         @include castMedia(0, 700px){
             &{
                 margin: 0;
                 text-align: center;
             }
         }
     }
 }
 .b-navSocSetiIcon{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     margin-top: 56px;
     @include mediaFor(Mmd){
         &{
             margin-top: 30px;
         }
     }
     @include castMedia(0, 450px){
         grid-template-columns: 1fr;
         grid-template-rows: 22px;
     }
     &__search{
         width: 21px;
         height: 20px;
         font-size: 21px;
         background: url(../images/search.png) center center no-repeat;
     }
     &__facebookIcon{
         width: 11px;
         height: 20px;
         background: url(../images/facebookIcon.png) center center no-repeat;
     }
 }
 .b-nav{
     display: grid;
     grid-template-columns: repeat(7, 1fr);

     @include castMedia(1151px, 1300px){
         &{
             grid-template-columns: repeat(5, 1fr);
         }
     }
     @include castMedia(801px, 1150px){
         &{
             grid-template-columns: repeat(4, 1fr);
         }
     }
     @include castMedia(501px, 801px){
         &{
             grid-template-columns: repeat(3, 1fr);
         }
     }
     @include castMedia(401px , 501px){
         &{
             grid-template-columns: repeat(5, 1fr);
         }
     }
     @include castMedia(351px, 400px){
         &{
             grid-template-columns: repeat(4, 1fr);
         }
     }
     @include castMedia(271px, 350px){
         &{
             grid-template-columns: repeat(3, 1fr)
         }
     }
     @include castMedia(271px, 350px){
         &{
             grid-template-columns: repeat(3, 1fr)
         }
     }
     &_margin{
         margin-top: 60px;
     }
     @include castMedia(0, 1300px){
         &{
             margin-top: 30px;
         }
     }
     &__item{
         color: #ffffff;
         font-family: Lato;
         font-size: 15px;
         font-weight: 700;
   
         &_margin{
             margin: auto;
         }
     }
 }
 .b-mainPost{
     background: url(../images/mainPostImg.png)top center;
     background-size: cover;
     width: 100%;
     max-width: 1600px;
     margin: 0 auto;
     &__div{
         width: 100%;
         height: 100px;
         @include castMedia(501px, 700px){
             &{
                 height: 200px;
             }
         }
     }
     &::after{
         content: ' ';
         display: block;
         clear: both;
     }
     &::before{
         content: ' ';
         display: block;
         clear: both;
     }
     &_position{
         position: relative;
         z-index: 0;
     }
     &_margin{
         margin-top: -100px;
         @include castMedia(0,501px){
             &{
                 margin-top: -200px;
             }
         }
     }
     &__textConteiner{
         height: 343 + 185px;
         &_position{
             position: relative;
             @include mediaFor(Mmd){
                 &{
                     position: initial;
                     margin: 0 auto;
                 }
             }
         }
     }
     &__textImg{
         background: url(../images/textColor.png) center center no-repeat;
         background-size: contain;
         height: 343px;
         width: 47%;
         &_margin{
             margin: 243px -13% 64px 13%;
         }
         &_float{
             float: left;
         }
         @include mediaFor(Mmd){
             &_float{
                 float: none;
             }
             &{
                 margin: 100px auto 0 auto;
             }
         }
         @include mediaFor(Mls){
             &{
                 width: 100%;
             }
         }
     }

     &__imgCont{
         width: 52%;
         &_margin{
             margin: 85px 0 -120px 0 ;
         }
         &_float{
             float: left;
         }
         @include mediaFor(Mmd){
             &_float{
                 float: none;
             }
             &{
                 margin: 0 auto;
             }
         }
         @include mediaFor(Mls){
             &{
                 width: 100%;
             }
         }
     }
     &__imgSecondCont{
         position: relative;
         border: none;
         padding-top: 109%;
     }
     &__img{
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         background: url(../images/modelImg.png) center center no-repeat;
         background-size: contain;
     }
     &__buttom{
         border-radius: 15px;
         width: 192px;
         height: 54px;
         background: #ffffff;
         color: #242424;
         font-family: Lato, serif;
         font-size: 21px;
         font-weight: 700;
         line-height: 54px;
         text-align: center;
         &_position{
             position: absolute;
             top: 680px;
             left: 475px;
             @include castMedia(1200px, 1360px){
                 left: 320px;
             }
             @include mediaFor(Mmd){
                 position: initial;
                 margin: 0 auto;
             }
         }
     }
 }
 .b-mainWhoWeAre{
     max-width: 1600px;
     margin: 0 auto;
     &::after{
         content: ' ';
         display: block;
         clear: both;
     }
     &::before{
         content: ' ';
         display: block;
         clear: both;
     }
     &__copy{
         width: 47%;
         &_margin{
             margin-right: -10%;
         }
         &_float{
             float: left;
         }
         @include castMedia(0, 850px){
             &{
                 width: 100%;
             }
             &_margin{
                 margin: 0;
             }
         }
     }
     &__copyName{
         color: #494949;
         font-family: "Peace Sans";
         font-size: 62px;
         &_margin{
             margin: 97px 0 75px 25%;
         }
         @include castMedia(0, 850px){
             &{
                 text-align: center;
             }
             &_margin{
                 margin: 75px 0 30px 0;
             }
         }
     }
     &__copyText{
         color: #6a6a6a;
         font-family: "Open Sans";
         font-size: 17px;
         max-width: 470px;
         &_margin{
             margin: 0 0 77px 26%;
         }
         @include castMedia(0, 850px){
             &{
                 text-align: center;
             }
             &_margin{
                 margin: 0 auto 20px auto;
             }
         }
     }
     &__copyButtom{
         width: 192px;
         height: 54px;
         background-color: #bc2e3a;
         color: #ffffff;
         font-family: Lato;
         font-size: 21px;
         font-weight: 700;
         border-radius: 15px;
         line-height: 54px;
         text-align: center;
         &_margin{
            margin-left: 26%; 
         }
         @include castMedia(0, 850px){
             &_margin{
                 margin: 0 auto 75px auto;
             }
         }
     }
     &__mackbookCont{
         width: 63%;
         overflow: hidden;
         &_float{
             float: left;
         }
         @include castMedia(0, 850px){
             &{
                 width: 100%;
             }
         }
     }
     &__rectangle{
         width: 1422px;
         height: 580px;
         background: url(../images/triangle.png);
         padding-top: 100px;
         padding-left: 10%; 
         overflow: hidden;
      
         @for $i from 300 through 580{
             @if($i % 20 == 0){
                 @media(min-width: $i+px) and (max-width: $i+19+px){
                     &{
                         height: $i+px;
                     }
                 }
             }
         }
         @include castMedia(0, 850px){
             &{
                 width: 100%;
             }
         }
     }
  
     &__mackbookImg{
         width: 757px;
         height: 422px;
         background: url(../images/mackbook.png) center center no-repeat;
         background-size: contain;
         @include castMedia(851px, 1300px){
             &{
                 width: 500px;
             }
         }
         @include castMedia(0, 850px){
             &{
                 width: 70%;
                 height: 300px;
             }
             &_margin{
                 margin: 0 auto;
             }
         }
     }
 }
 .mainWhotWeDo{
     max-width: 1600px;
     margin: 0 auto;
     background-color: #f5f5f5;
     overflow: hidden;
     &__name{
         color: #494949;
         font-family: "Peace Sans";
         font-size: 62px;
         text-align: center;
         &_margin{
             margin: 95px 0 85px 0;
         }
     }
     &__triangle {
         width: 270px;
         height: 270px;
         transform: rotate(45deg);
         margin-left: -240px;
         background-color: #bc2e3a;
         &_float {
             float: left;
         }
         &_margin {
             margin-top: 80px;
         }
         @include castMedia(821px, 1300px){
             &_margin{
                 margin-top: 200px;
             }
         }
         @include castMedia(0, 820px){
             &{
                 display: none;
             }
         }
     }
     &__advantagesCont{
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         &_margin{
             margin-left: 115px;
             margin-top: 85px;
         }
         @include castMedia(0, 1300px){
             &{
                 grid-column-gap: 15px;
             }
         }
         @include castMedia(0, 820px){
             &_margin{
                 margin: 85px 20px 0 20px;
             }
         }
         @include castMedia(511px, 750px){
             &{
                 grid-template-columns: repeat(2, 1fr);
             }
         }
         @include castMedia(0, 510px){
             &{
                 grid-template-columns: 1fr;
             }
         }
     }
 }
 .mainAdvantages{
     &__iconCont{
         width: 75px;
         height: 75px;
         background-color: #bc2e3a;
         border-radius: 50%;
         &_float{
             float: left;
         }
         @include castMedia(0, 1300px){
             &_margin{
                 margin: 0 auto;
             }
             &_float{
                 float: none;
             }
         }
     }
     &__descCont{
         &_margin{
             margin: 15px 15px 100px 15px;
         }
         &_float{
             float: left;
         }
         @include castMedia(0, 1300px){
             &_float{
                 float: none;
             }
             &_margin{
                 margin: 15px auto 100px auto;
             }
         }
     }
     &__descName{
         color: #6f6f6e;
         font-family: "Open Sans - Extrabold";
         font-size: 30px;
         &_margin{
             margin-bottom: 30px;
         }
         @include castMedia(0, 1300px){
             &{
                 text-align: center;
             }
         }
     }
     &__descText{
         max-width: 281px;
         color: #6a6a6a;
         font-family: "Open Sans";
         font-size: 17px;
         line-height: 30px;
         @include castMedia(0, 1300px){
             &{
                 text-align: center;
             }
             &_margin{
                 margin: 0 auto;
             }
         }
     }
 }


.b-mainWork{
    max-width: 1600px;
    margin: 0 auto;

    &::after{
        content: ' ';
        display: block;
        clear: both;
    }
    &::before{
        content: ' ';
        display: block;
        clear: both;
    }

    &__name{
        color: #494949;
        font-family: "Peace Sans";
        font-size: 62px;

        &_position{
            position: relative;
            z-index: 1;
        }

        &_margin{
            margin: 120px 0 60px 215px;
        }

        @include castMedia(0, 1485px){
            &{
                text-align: center;
                &_margin{
                    margin: 120px 0 60px 0;
                }
            }
        }
    }

    &__mainCont{
        width: calc(100% - 1047px);
        &_position{
            position: relative;
            z-index: 1;
        }

        &_float{
            float: left;
        }

        @include castMedia(0, 1485px){
            &{
                width: 100%;

                &_float{
                    float: none;
                }
            }
        }
    }

    &__text{
        color: #6a6a6a;
        font-family: "Open Sans";
        font-size: 17px;
        line-height: 30px;
        max-width: 291px;

        @include castMedia(0, 740px){
            color: black;
        }

        &_margin{
            margin: 0 50px 46px 215px;
        }

        @include castMedia(0, 1485px){
            &{
                max-width: 400px;
                text-align: center;

                &_margin{
                    margin: 0 auto;
                    margin-bottom: 46px;
                }
            }
        }
    }

    &__buttom{
        width: 192px;
        height: 55px;
        background-color: #bc2e3a;
        border-radius: 30px;
        text-align: center;
        line-height: 55px;
        color: #ffffff;
        font-family: Lato;
        font-size: 21px;
        font-weight: 700;
        border: 1px solid white;

        &_margin{
            margin: 0 0 0 215px;
        }

        @include castMedia(0, 1485px){
            &_margin{
                margin: 0 auto; 
                margin-bottom: 40px;
            }
        }
    }

    &__triangle{
        width: 837px;
        height: 837px;
        background-color: #bc2e3a;
        transform: rotate(45deg);

        &Cont{
            width: 592px;
            height: 1183px;
            overflow: hidden;
            float: right;

            &_margin{
                margin-top: -735px;
            }
            
            &_position{
                position: relative;
                z-index: 0;
            }
        }

        &_margin{
            margin: 200px -500px 0 0;
        }
        
        &_float{
            float: right;
        }
    }
}

.b-mainImgCont{

    overflow: hidden;

    &_position{
        position: relative;
        z-index: 1;
    }
        $z: 100;
        @for $i from 320 through 1100{
            @if ($i%21 == 0){
                @media(min-width: $i+px) and (max-width: $i+20+px){
                    &{
                        height: $z+px;
                    }
                }

                $z: $z+9;
            }
        }

    @include castMedia(320px, 335px){
        &{
            height: 100px;
        }
    }
    &::after{
        content: ' ';
        display: block;
        clear: both;
    }

    &::before{
        content: ' ';
        display: block;
        clear: both;
    }

    @include castMedia(0, 1485px){
        width: 90%;
    }

    &_float{
        float: right;
    }

    &__imgCont{
        width: 454px;
        height: 297px;

        &_background1{
            background: url(../images/work1.png);
        }

        &_background2{
            background: url(../images/work2.png);
        }

        &_background3{
            background: url(../images/work3.png) no-repeat;
        }

        &_margin{
            margin-right: -85px;

            &Last{
                margin-right:-145px;
            }
        }

        &_float{
            float: left;
        }

        &_padding{
            padding-left: 90px;
        }

        &_paddingLast{
            padding: 223px 0 0 62px;
        }

        @include castMedia(0, 1485px){
            &{
                width: 44%;
                background-size: contain;
                background-repeat: no-repeat;

                &_margin{
                    margin-right: -10%;

                    &Last{
                        margin-right: -15%;
                    }
                }
            }
        }
    }

    &__number{
        color: #ffffff;
        font-family: Lato;
        font-size: 58px;
        font-weight: 700;

        &_margin{
            margin-left: 265px;
        }

        @include castMedia(0, 1100px){
            &{
                display: none;
            }
        }
    }

    &__name{
        color: #ffffff;
        font-family: Lato;
        font-size: 40px;
        font-weight: 700;

        &_ideaMargin{
            margin-top: 54px;
        }

        &_designMargin{
            margin-top: 140px;
        }

        @include castMedia(0, 1100px){
            &{
                display: none;
            }
        }
    }

    &__text{
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 18px;
        width: 210px;

        @include castMedia(0, 1100px){
            &{
                display: none;
            }
        }
    } 
}


.b-team{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #f5f5f5;

    &:after{
        content: ' ';
        display: block;
        clear: both;
        height: 110px;
      }

    &_margin{
        margin-top: -220px;
    }

    &__triangle{
        width: 837px;
        height: 837px;
        transform: rotate(45deg);
        background: black;

        &Cont{
            width: 215px;
            height: 430px;
            overflow: hidden;
            
            &_float{
                float: left;
            }

            &_margin{
                margin: -213px 0 0 0;
            }
        }

        &_margin{
            margin: -205px 0 0 -795px;
        }
    }

    &__name{
        color: #494949;
        font-family: "Peace Sans";
        font-size: 62px;
        text-align: center;

        &_position{
            position: relative;
            top: 105px;
        }

        @include castMedia(0, 1071px){
            &{
                clear: both;
            }
        }
    }
}

.b-teamSlider{
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    width: 100%;

    @include castMedia(0, 1310px){
        &{
            grid-template-columns: 1fr;
        }
    }

    @include castMedia(0, 600px){
        &_margin{
            margin-top: 100px;
        }
    }

    @include castMedia(601px, 4000px){
        &_margin{
            margin-top: 150px;
        }
    }

    &__nav{
        width: 63px;
        height: 63px;
        transform: rotate(45deg);
        background-color: #424240;

        &_marginBefore{
            margin: 15px 0 0 17px;
        }

        &_marginAfter{
            margin: 15px 0 0 -31px;
        }

        

        &Cont{
            width: 48px;
            height: 95px;
            overflow: hidden;

            &_margin{
                margin: auto;
            }

            @include castMedia(0, 1310px){
                &{
                    display: none;
                }
            }
        }
    }

    &__cont{
        width: 935px;
        padding-left: 45px;

        &_margin{
            margin: 0 auto;
        }

        @include castMedia(0, 935px){
            &{
                width: 100%;
            }
        }
    }

    &__item{
        &_float{
            float: left;
        }

        @include castMedia(0, 970px){
            &{
                margin: 0 auto;
            }

            &_float{
                float: none;
            }
        }
    }

    &__imgCont{
        width: 378px;
        height: 378px;
        transform: rotate(45deg);
        border: 25px solid white;
        margin: auto;
        overflow: hidden;
        
        &_margin{
            margin: 78px 0 0 -55px;

            @include castMedia(0, 970px){
                &{
                    margin: 0 auto;
                    margin-top: 78px;
                }
            }
        }

        &_postion{
            position: relative;
            z-index: 1;
        }

        &_noActive{
            width: 280px;
            height: 280px;

            &Margin{
                margin-top: 128px;

                &Last{
                    margin-left: -55px;
                }
            }

            @include castMedia(0, 970px){
                &{
                    display: none;
                }
            }
        }

        &_active{
            @include castMedia(0, 600px){
                &{
                    width: 226px;
                    height: 226px;
                }
            }
        }
    }

    &__name{
        width: 273px;
        height: 49px;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 700;
        line-height: 49px;
        text-align: center;

        &_leftMargin{
            margin-left: 25px;
            margin-right: -6px;
        }

        &_rightMargin{
            margin-left: -25px;
            margin-top: -30px;
        }

        &_activeMargin{
            margin-left: 5px;

            @include castMedia(0, 970px){
                &{
                    margin: 0 auto;
                }
            }
        }

        &_position{
            position: relative;
            z-index: 1;
        }

        &_Active{
            background: url(../images/RectangleActive.png) no-repeat;
        }

        &_noActive{
            background: url(../images/RectangleNoActive.png) no-repeat;

            @include castMedia(0, 970px){
                &{
                    display: none;
                }
            }
            
        }

        &_noActiveSize{
            width: 239px;
            height: 38px;
            line-height: 38px;
        }
    }

    &__desinger{
        width: 169px;
        height: 30px;
        background: url(../images/RectangleDesigner.png);
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 19px;
        font-style: italic;
        line-height: 30px;
        text-align: center;

        &_margin{
            margin-top: -7px;
            margin-left: 70px;
            @include castMedia(0, 970px){
                &{
                    margin: 0 auto;
                    margin-top: -7px;
                }
            }
        }
        &_position{
            position: relative;
            z-index: 2;
        }
    }

    &__sliderImg{
        width: 141%;
        height: 141%;
        transform: rotate(-45deg);
        object-fit: cover;

        &_noActive{

            opacity: 0.6;

            &Margin{
                margin: -49px 0px 0 -52px;
            }
        }

        &_activeMargin{
            margin: -91px 0 0 -86px;
        }

        @include castMedia(0, 600px){
            &_activeMargin{
                margin: -39px 0 0 -33px;
            }

            &{
                height: 147%;
            }
        }
    }
}